.nav li {
    display:inline;
}

.nav a {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
    padding: 14px, 10px;
    text-transform: uppercase;
}

.jumbotron {
    height: 600px;
    background-color: #6600CC;
    background-image: url("resources/PinkhamEagles.jpeg");
    background-repeat: no-repeat;
    background-attachment:relative;
	background-position:center; 
}

.jumbotron .container {
    position: relative;
}

.jumbotron h1 {
    color: #FFFF00;
    font-size: 48px;
    font-weight: bold;
}

.jumbotron p {
    color: #FFFF00;
    font-size: 20px;
    padding-left: 12px;
}

.jumbotron logo {
	color: #FFFF00;
	font-size: 36px;
}

.Parents-Students {
    background-color: #f7f7f7;
}

.Parents-Students h3 {
    font-size: 18px;
    font-weight: bold;
}

.Parents-Students a {
    color: #00b0ff;
}